<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>
<h:body>
    <h1>НДС отчет</h1>

    <div>

        <h:form>
            <h:panelGrid id="grid" columns="3" cellpadding="5">
                <p:outputLabel for="ifns" value="ИФНС:"/>
                <p:inputText id="ifns" required="true"/>
                <p:message for="ifns"/>

                <p:outputLabel for="inn" value="ИНН:"/>
                <p:inputText id="inn" required="true"/>
                <p:message for="inn" display="text"/>

                <p:outputLabel for="kpp" value="КПП:"/>
                <p:inputText id="kpp" required="true"/>
                <p:message for="kpp" display="icon"/>

                <p:outputLabel for="date" value="Дата:"/>
                <p:inputText id="date" required="true"/>
                <p:message for="date" display="tooltip"/>
            </h:panelGrid>

            <p:commandButton id="submitButton" value="Создать отчёт" update="grid"/>
        </h:form>

        <!--<p:outputLabel for="button" value="Дата создания отчета:"/>-->
        <!--<p:calendar id="button" value="#{testController.date3}" showOn="button" pattern="dd-MM-yyyy"-->
        <!--mask="true"/>-->

        <!--<p:commandButton value="Submit" actionListener="#{testController.click}" icon="ui-icon-check"/>-->

        <!--<input name="ifns"      type="text" value="7834"> Код ИФНС<br />-->
        <!--<input name="inn"       type="text" value="7816151039"> ИНН<br />-->
        <!--<input name="kpp"       type="text" value="783450001"> КПП<br />-->
        <!--<input name="calendar"  type="date" value="today"> Выберите дату<br />-->
        <!--<input name="kvartal"   type="radio" value="1"> Первый квартал-->
        <!--<input name="kvartal"   type="radio" value="2" checked> Второй квартал-->
        <!--<input name="kvartal"   type="radio" value="3"> Третий квартал-->

    </div>

</h:body>
</html>